.imagewidth{
height: 200px;
width: 200px;
}
.login-section{
  height: 500px;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
}
.position{
  padding-left: 36%;
}
.width{
  width: 100px;
}
.forgot-password{
padding-left: 34%;
text-decoration: none;
}
.text-align{
  text-align: right;
}


.image-size{
  margin-top: 70px;
  width: 800px;
}
.welcome-section{
  margin-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .position{
    padding-left: 0;
  }
}